<div className="App">
  <div class="grid">
    <div class="logo_container">
      <img class="logo" src="assets/spacex_logo.png" alt="Space-X Logo" />
    </div>
    <p>{{ error }}</p>
    <h1 class="title">{{ name }}</h1>
    <table class="rocket_grid">
      <thead>
        <tr>
          <th
            *ngFor="let header of headers"
            (click)="setSort(header[1])"
            align="left"
            [class]="header[1]"
          >
            {{ header[0] }}
            <i
              *ngIf="sort === header[1]"
              [class]="
                descendingSort ? 'fa fa-chevron-up' : 'fa fa-chevron-down'
              "
            ></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          (click)="setFocus(i)"
          *ngFor="
            let launch of filteredLaunches;
            index as i;
            trackBy: launch?.i
          "
          class="{{ focus === i ? 'activeRow' : 'row' }}"
        >
          <td align="left" *ngFor="let heading of headers">
            {{
              focus !== i && heading[1] === "details"
                ? "...click to expand launch details"
                : getHeader(heading[1], launch)
            }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="page_control">
      <p class="page_indicator">Page {{ currentPage }} of {{ maxPages }}</p>
      <button class="left" (click)="setPage('prev')">Previous</button>
      <button class="right" (click)="setPage('next')">Next</button>
    </div>
  </div>
</div>
